@tailwind base;
@tailwind components;
@tailwind utilities;


.mobile-menu {
    height: calc(100vh - 120px);
}

/* Custom pagination dots */
.swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.5); /* Example color */
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0.9;
  }
  
  .swiper-pagination-bullet-active {
    background: #007bff; /* Active color */
    opacity: 1;
  }
  
  /* Custom navigation arrows */
  .swiper-button-next,
  .swiper-button-prev {
    color: #007bff; /* Arrow color */
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);/* Arrow background color */
    border-radius: 50%;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 24px; /* Arrow size */
  }
  
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: rgba(22, 22, 22, 0.8); /* Darker background on hover */
  }
  